{
    "presets": [
        ["env"],
        "stage-2",
        "react"
    ],
    "plugins": [
        ["import", { "libraryName": "antd", "style": true }],
        "transform-class-properties",
        "syntax-dynamic-import",
        "react-hot-loader/babel"
    ]
}